# Legacy
docs/legacy/target/
docs/legacy/dist/

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log*

# Expo
.expo/
web-build/
*.jks
*.p12
*.keystore
*.mobileprovision

# Mac
.DS_Store

# Editor
.vscode/
.idea/
*.swp
